<h1>NPR News</h1>
<hr>
<div id="wrapper">
	<div class="col">
		<h2>Articles</h2>

		<ul>
			{{#each article}}
				<li>
				{{#each this.comment}}
					<form action="/{{this.id}}?_method=PUT" method="POST">
						<input type="hidden" name="devoured">
						<button type="submit">{{this.burger_name}}</button>
					</form>

					<form action="/{{this.id}}?_method=DELETE" method="POST">
						<input type="hidden" name="delete">
						<button type="submit" class="btn btn-danger">X</button>
					</form>
				</li>
				{{/unless}}
			{{/each}}
		</ul>
	</div>

</div>